<div class="video-round-frame">
      <div id="video_frame" style="width:300px;"></div>
       <a type="button" href="#/video" class="btn btn-warning btn-xs">
                <i class="fa fa-arrows-alt"></i> Full Size
       </a>
      <span>&nbsp;</span>
       <a type="button" href="JavaScript:void(0)"  ng-Click="stopVideo()"  class="btn btn-warning btn-xs">
                <i class="fa fa-remove" aria-hidden="true"></i> Stop Preview
       </a>      
</div>
<h5>{{main_video.title}}</h5>
<p style="padding-top:0px; padding-bottom:0px; height:480px; overflow-y:scroll; width:100%;">
      {{main_video.description}} 
</p>  