<ul class="nav nav-tabs right-to-left">
    <li><div style="font-size:2em; color:#e68a00; padding-right:1em; padding-left:1em">
        <i class="fa fa-youtube-square" aria-hidden="true"></i></div></li>
    <li ng-class="checkActive('video')" ng-if="(main_video)"><a href="/#/video">Video</a></li>
    <li ng-class="checkActive('admin')"><a href="#/admin">Admin</a></li>
    <li ng-class="checkActive('home')"><a href="/#/">Home</a></li>
    <li class="left-to-right">
        <div style="font-size:2em; text-align:center;">
            <a href="/#/" style="text-decoration:none; color:#e68a00;">VideoHub</a>
            <span class="text-warning" style="font-size:0.5em; margin-left:1em">This site is for technical demonstration purpose only</span>
        </div>
    </li>
</ul>